<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SimpleTTS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <SimpleTTS.Properties.Settings>
            <setting name="m1" serializeAs="String">
                <value>하고싶은 말을 적으세요 1</value>
            </setting>
            <setting name="m2" serializeAs="String">
                <value>하고싶은 말을 적으세요 2</value>
            </setting>
            <setting name="m3" serializeAs="String">
                <value>하고싶은 말을 적으세요 3</value>
            </setting>
            <setting name="m4" serializeAs="String">
                <value>하고싶은 말을 적으세요 4</value>
            </setting>
            <setting name="lType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="vType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="isTrans" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TclientID" serializeAs="String">
                <value>입력</value>
            </setting>
            <setting name="TclientSecret" serializeAs="String">
                <value>입력</value>
            </setting>
            <setting name="tType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="isPTT" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IPbSpeed" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SclientID" serializeAs="String">
                <value>입력</value>
            </setting>
            <setting name="SclientSecret" serializeAs="String">
                <value>입력</value>
            </setting>
            <setting name="HotKeyChat" serializeAs="String">
                <value>'</value>
            </setting>
            <setting name="HotKeyChatOption" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HotKeyMacro1" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="HotKeyMacro1Option" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="HotKeyMacro2" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="HotKeyMacro2Option" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="HotKeyMacro3" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="HotKeyMacro3Option" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="HotKeyMacro4" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="HotKeyMacro4Option" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="HotKeyPTT" serializeAs="String">
                <value>`</value>
            </setting>
        </SimpleTTS.Properties.Settings>
    </userSettings>
</configuration>